{
   "presets": [
      "react",
      "env",
      "stage-0"
   ],
   "plugins": [
      "transform-decorators-legacy",
      [
         "import",
         [
            {
               "libraryName": "antd"
            },
            {
               "libraryName": "material-ui",
               "libraryDirectory": "components",
               "camel2DashComponentName": false
            }
         ]
      ]
   ]
}